<h1>Client App (yelp.com)</h1>


<%= form_with url: auth_oauth_index_url, method: :post, style: 'text-align: center;' do |form| %>
  <%= form.label "(code verifier) V = " %>
  <%= form.text_field :code_verifier, value: @code_verifier, readonly: true,size: "60" %>
  </br>
  </br>
  <%= form.label "(code_challenge) $ = sha256(V) " %>
  <%= form.text_field :code_challenge, value: @code_challenge, readonly: true,size: "60" %>
  </br>
  </br>
  <%= form.submit "Sign in from Trader" %>
<% end %>